@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A0B26;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    padding: 24px;
    width: 90%;
    max-height: 90%;
    background-color: #80BDF2;
    box-shadow: 0 0 24px rgba(100, 100, 100, 0.5);
}

.container header {
    flex: 1;
    margin-bottom: 24px;
    border: 3px solid transparent;
    border-radius: 24px;
    transition: all 0.2s ease;
}

.container header:hover {
    border: 3px solid #a2deF4;
}

.container header input {
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    min-width: 200px;
    font-size: 36px;
    font-weight: 600;
    color: #252525;
}

.container header input::selection {
    background-color: #609bd0;
    color: #4079c0;
}
